* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------navbar---------- */
nav {
    background-color: white;
}

.logo {
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.navlink {
    color: black;
    margin-right: 20px;
}

.navlink:hover {
    color: #e4a204;
    z-index: 99;
    opacity: 1;
}
/* ---sub-menu----- */
nav ul .sub-menu {
    list-style: none;
    border-top: 5px solid #e4a204;
    position: absolute;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -200px !important;
    padding: 10px;
    opacity: 0;
    z-index: -999;
    transition: all ease .5s;
}
nav ul li:hover .sub-menu{
    z-index: 99;
    opacity: 1;
    margin-top: 20px !important;
}
:hover::after .sub-menu{
    z-index: -999;
    opacity: 0;
    margin-top: 0;
}


section {
    padding: 60px 0;
    overflow: hidden;
}
.button_ol {
    color: black;
    padding: 10px;
    background-color: #47474700;
    border: 2px solid #e4a204;
    text-decoration: none;
}

.button_ol:hover {
    color:black;
    background-color: rgba(255, 196, 0, 0.247);
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
    transition: .6s;
}

/*---------header, hero section----------*/
header {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(backgrounds/overlay3.png);
    background-size: cover;
    background-position: center;
}

.button_visit {
    color: #fff;
    padding: 15px;
    background-color: #47474700;
    border: 2px solid #e4a204;
}

.button_visit:hover {
    color:#fff;
    background-color: rgba(255, 196, 0, 0.247);
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
    transition: .6s;
}

/* ----------service times----------- */
#service_bg{
    background-image: url(backgrounds/bg_service.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.button_catch{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #e4a204;
}
.button_watch{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    border: 2px solid #e4a204;
}
.button_catch:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 196, 0, 0.247);
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #e4a204;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .6s;
}
.button_watch:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 196, 0, 0.247);
    padding: 20px;
    border: 2px solid #e4a204;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .6s;
}


/* ---------Who we are-------- */
hr{
    width: 30%;
    height: 5px;
    border: none;
    margin-top: 30px;
    background-color: black !important;
    font-size: small;
}
/* --------footer-------- */
footer {
    height: auto;
    background-color: rgb(25, 45, 68);
}
footer nav {
    align-items: end;
    justify-content: end;
}
footer nav ol{
    align-items: end;
    justify-content: end;
}
.logo_footer{
    width: 100px;
    height: auto;
}
.fa-brands {
    color: #fff;
}
.fa-brands:hover {
    color: #e4a204;
}

/* about us page */
#header_about{
    width: 100%;
    height: auto; 
}
.carousel{
    width: 80%;
    height: auto;
    align-items: center !important;
    justify-content: center !important;
}
.carousel-inner{
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}
p img{
    width: 1240px;
    height: auto;
    position: ;
}
/* history */
.history {
    width: 100%;
    height: auto;
}
.list-text{
    list-style: none;
}
/* Jesus page */
#text-title {
    width: 100%;
    height: 100vh;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.container-text{
    padding: 60px;
    margin-top: 180px;
    margin-left: 30%;
    box-sizing: content-box; 
    flex-direction: row;
    flex-basis: content;
    z-index: 999;
}
.img-bg{
    width: 50%;
    height: auto;
    background-size: cover;
}

















/* }
.card-text {
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
}

.card a {
    max-width: 400px;
    align-self: center;
}

.button_catch {
    color: black;
    padding: 15px;
    text-decoration: none;
    border: 3px solid #474747;
}

.button_catch:hover {
    color: white;
    background-color: #e4a204;
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
    transition: .6s;
} */