* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------navbar---------- */
nav {
    background-color: white;
}

.logo {
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.navlink {
    color: black;
    margin-right: 20px;
}

.navlink:hover {
    color: #e4a204;
    z-index: 99;
    opacity: 1;
}
/* ---sub-menu----- */
nav ul .sub-menu {
    list-style: none;
    border-top: 5px solid #e4a204;
    position: absolute;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -200px !important;
    padding: 10px;
    opacity: 0;
    z-index: -999;
    transition: all ease .5s;
}
nav ul li:hover .sub-menu{
    z-index: 99;
    opacity: 1;
    margin-top: 20px !important;
}
:hover::after .sub-menu{
    z-index: -999;
    opacity: 0;
    margin-top: 0;
}


section {
    padding: 60px 0;
    overflow: hidden;
}
.button_ol {
    color: black;
    padding: 10px;
    background-color: #47474700;
    border: 2px solid #e4a204;
    text-decoration: none;
}

.button_ol:hover {
    color:black;
    background-color: rgba(255, 196, 0, 0.247);
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
    transition: .6s;
}

/*---------header, hero section----------*/
#header {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(backgrounds/overlay3.png);
    background-size: cover;
    background-position: center;
}

.button_visit {
    color: #fff;
    padding: 15px;
    background-color: #47474700;
    border: 2px solid #e4a204;
    text-decoration: none;
}

.button_visit:hover {
    color:#fff;
    background-color: rgba(255, 196, 0, 0.247);
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
    transition: .6s;
}

/* ----------service times----------- */
#service_bg{
    background-image: url(backgrounds/bg_service.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.button_catch{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #e4a204;
}
.button_watch{
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    border: 2px solid #e4a204;
}
.button_catch:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 196, 0, 0.247);
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid #e4a204;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .6s;
}
.button_watch:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 196, 0, 0.247);
    padding: 20px;
    border: 2px solid #e4a204;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .6s;
}


/* ---------Who we are-------- */
hr{
    width: 30%;
    height: 5px;
    border: none;
    margin-top: 30px;
    background-color: rgb(0, 0, 0) !important;
    font-size: small;
}



/* --------footer-------- */
footer {
    height: auto;
    background-color: rgb(25, 45, 68);
}
footer nav {
    align-items: end;
    justify-content: end;
}
footer nav ol{
    align-items: end;
    justify-content: end;
}
.logo_footer{
    width: 100px;
    height: auto;
}
.fa-brands {
    color: #fff;
}
.fa-brands:hover {
    color: #e4a204;
}

/* about us page */
#header_about{
    width: 100%;
    height: auto; 
}
.carousel{
    width: 80%;
    height: auto;
    align-items: center !important;
    justify-content: center !important;
}
.carousel-inner{
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}
p img{
    width: 1240px;
    height: auto;
}
/* history */
.history {
    width: 100%;
    height: auto;
}
.list-text{
    list-style: none;
}
/* Jesus page */
#text-title {
    width: 100%;
    height: 80vh;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 239, 229);
}

#Jesus-content {
    background-color: rgb(248, 239, 229);
}
.congrats {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-img{
    width: 100%;
    height: auto;
    margin: 20%;
    margin-top: 100px;
}
.img {
    width: 500px;
    height: auto;
    flex-wrap: wrap;
    overflow-wrap: auto;
}
.container-greetings{
    width: 500px;
    height: auto;
    background-color: rgb(248, 239, 229);
    border: 5px solid #e4a204;
    padding: 40px;
    margin-right: 50%;
}
.button-connect {
    padding: 20px;
    width: 100%;
    font-weight: 500;
}

/* im_new page */
.img-bg {
    max-width: 80%;
    height: 70vh;
}
#new-header {
    background-color: rgb(248, 239, 229);
}
.card {
    width: 100%;
    height: 300px;
}
#card-front,#card-back{
    width: 100%;
    height: 300px;
}
#btn-connect{
    border: 1px solid black;
    border-radius: 0;
}

/* our pastor page */

#pastor-header img{
    width: auto !important;
    height: auto !important;
}
.side-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#eddie{
    position: relative;
}
#eddie img{
    width: auto;
    height: 400px;
}
/* ministries */
#header-ministry{
    background-image: url(assets/dirty-old-retro-vintage.jpg);
    background-position: center;
    background-size: cover;
}
/* music ministry */
#music-bg{
    height: auto;
    background-image: linear-gradient(to right, rgb(0, 132, 255), rgb(140, 0, 255));
}
#img-ministry {
    width: auto;
    height: auto;
}
#img-welcome {
    width: auto;
    height: 160px;   
}
/* youth ministry */
#youth-bg{
    height: auto;
    background-image: linear-gradient(to right, rgb(31, 201, 82), rgb(0, 204, 255));
}
/* womens ministry */
#womens-bg{
    height: auto;
    background-image: linear-gradient(to right, rgb(255, 60, 223), rgb(119, 0, 255));
}
#mens-bg{
    height: auto;
    background-image: linear-gradient(to right, rgb(4, 0, 255), rgb(0, 183, 255));
}
#kids-bg{
    height: auto;
    background-image: linear-gradient(to right, rgb(250, 247, 79), rgb(255, 94, 0));
}

/* visit us */

#visit {
    height: 40vh;
    background-image: linear-gradient(to right, rgb(250, 247, 79), rgb(255, 94, 0));
}
#prayer {
    height: 40vh;
    background-image: linear-gradient(to right, rgb(79, 250, 116), rgb(3, 85, 0));
}
#testimony {
    height: 40vh;
    background-image: linear-gradient(to right, rgb(79, 153, 250), rgb(13, 0, 85));
}
#get-connect {
    height: 40vh;
    background-image: linear-gradient(to right, rgb(182, 79, 250), rgb(13, 0, 85));
}










