* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------navbar---------- */
nav {
    background-color: white;
}

.logo {
    font-weight: 600;
    font-style: italic;
    color: #fff;
}

.navlink {
    color: black;
    margin-right: 20px;
}

.navlink:hover {
    color: #e4a204;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

/*---------header, hero section----------*/
header {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(backgrounds/overlay.png);
    background-size: cover;
    background-position: center;
}

.button_visit {
    padding: 15px;
    background-color: #e4a204;
    border: none;
}

.button_visit:hover {
    background-color: #f8b821;
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
}

/* ----------service times----------- */

.service_description {
    flex-wrap: wrap;
    min-width: 400px;
    align-self: center;
}

.card a {
    max-width: 400px;
    align-self: center;
}

.button_catch {
    color: black;
    padding: 15px;
    text-decoration: none;
    border: 3px solid #474747;
}

.button_catch:hover {
    color: white;
    background-color: #e4a204;
    border-top-left-radius: 25px;
    border-top-right-radius: none;
    border-bottom-right-radius: 25px;
}

/* ---------Who we are-------- */

/* --------footer-------- */
footer {
    height: 50vh;
    background-color: rgb(25, 45, 68);
}